:global {

  section:focus{
    outline: none;
  }

  .about-img{
    margin-top: 30px;
    width: 100%;
  }

  .tab-back-active{
    background-color: #1B5E20 !important;
    text-shadow: 1px 1px 2px #4CAF50, 0 0 25px #E8F5E9, 0 0 5px #E8F5E9 !important;
    flex-grow: 1;
  }

  .tab-back-inactive{
    background-color: #4CAF50;
    flex-grow: 1;
  }

  .about-tab{
    font-size: 14px;
    text-shadow: .5px .5px #FFFFFF;
  }

  .about-tips{
    font-size: 18px;  
  }

  .smart-pig{
    margin: 0 auto;
    max-width: 550px;
    height: 512px;
    background: url("/assets/images/piggy_smart_light.png") no-repeat;
    background-size: 100% auto;
  }

  .pie-chart{
    margin: 0 auto;
    max-width: 450px;
    height: 475px;
    background: url("/assets/images/pie_chart.png") no-repeat;
    background-size: 100% auto;
  }

  .money{
    margin: 0 auto;
    max-width: 600px;
    height: 378px;
    background: url("/assets/images/money.png") no-repeat;
    background-size: 100% auto;
  }

}