:global {
	
	/* Navbar */
	.navbar-inverse .navbar-brand {
		color: #E8F5E9; /* Green 50 */
		padding-left: 110px;
		font-size: 30px;
	}

	.navbar-inverse {
		margin-top: 20px;
		background-color: #4CAF50; /* Green 500 */
		border-color: #4CAF50; /* Green 500 */
	}

	.navbar-inverse .navbar-collapse {
		border-color: #4CAF50; /* Green 500 */
	}

	.collapsing, .collapse.in {
		border-color: #4CAF50; /* Green 500 */
		margin-top: 65px;
	}

	.navbar-inverse .navbar-nav {
		&>li>a {
			color: #E8F5E9; /* Green 50 */
		}
		&>.active>a, &>.active>a:focus, &>.active>a:hover {
			background-color: #1B5E20; /* Green 900 */
			color: #fff;
			border-radius: 4px;
		}
	}

	.navbar-inverse .navbar-toggle {
		border-radius: 50%;
		border-color: #fff;
		&:hover, &:focus {
			background-color: #1B5E20; /* Green 900 */
		}
	}

	div.circle {
	  position: absolute;
	  top: -20px;
	  background-color: #ffffff;
	  width: 90px;
	  height: 90px;
	  border: 3px solid #4CAF50; /* Green 500 */
	  border-radius: 50%;
	  /*z-index: 101;*/
	  img {
	  	position: absolute;
	  	top: 15%;
	  	left: 15%;
	  	width: 70%;
	  	height: 70%;
	  }
	}

	/* Background */
	body {
		background-color: #E8F5E9; /* Green 50 */
	}

	#piggy-front{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  z-index: -2;
}

	#piggy{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  z-index: -4;
}

	#graph-foot{
	  position: fixed;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	  /*opacity: 0.5;*/
	  z-index: -1;
	}
	
	/* Fixes card issue */
	.row {
		padding-bottom: 10px;
	}

	/* Styling for coin animation*/

	.penny{
  position: absolute;
  top: 6px;
  left: 88px;
  width: 85px;
  height: 85px;
  background: url("/assets/images/penny.png") no-repeat;
  background-size: 85px 85px;
  z-index: 1;
	}

	.nickel{
	  position: absolute;
	  top: 6px;
	  left: 88px;
	  width: 113px;
	  height: 113px;
	  background: url("/assets/images/nickel.png") no-repeat;
	  background-size: 113px 113px;
	  z-index: 1;
	}

	.dime{
	  position: absolute;
	  top: 6px;
	  left: 88px;
	  width: 113px;
	  height: 113px;
	  background: url("/assets/images/dime.png") no-repeat;
	  background-size: 113px 113px;
	  z-index: 1;
	}

	.quarter{
	  position: absolute;
	  top: 6px;
	  left: 88px;
	  width: 113px;
	  height: 113px;
	  background: url("/assets/images/quarter.png") no-repeat;
	  background-size: 113px 113px;
	  z-index: 1;
	}

	.enter {
	  opacity: 0.01;
	}

	.enter.enterActive {
	  opacity: 1;
	  transition: opacity 500ms ease-in;
	}

	.leave {
	  top: 6px;
	  width: 113px;
	  height: 113px;
	/*  z-index: 98;*/
	}

	.leave.leaveActive {
	  /*top: calc(100%);*/
	  top: calc(94vh);
	  overflow: auto;
	  left: 115px;
	  width: 50px;
	  height: 50px;
	  background-size: 50px 50px;
	  z-index: -3;
	  transition: all 800ms linear;
	}

}

