:global {

	.loading-circle {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50%;
  }

  .box-total {
    border: 3px solid #4caf50;
    background-color: #ffffff;
    border-radius: 5px;
  }

}
