:global {

	.loading-circle {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50%;
  }

  .box-total {
    border: 3px solid #4caf50;
    background-color: #ffffff;
    border-radius: 5px;
  }

  /* Styling for coin animation*/
	$break-large: 1000px;
	$coin-zindex-large: 11;
	$coin-zindex-md: 99;

	.pennies{
		position: absolute;
		top: 0px;
		left: 88px;
		width: 90px;
		height: 90px;
		background: url("/assets/images/penny.png") no-repeat;
		background-size: 90px 90px;
		z-index: $coin-zindex-large;
		@media screen and (max-width: $break-large) {
			z-index: $coin-zindex-md;
		}
	}

	.nickels{
		position: absolute;
		top: 0px;
		left: 88px;
		width: 90px;
		height: 90px;
		background: url("/assets/images/nickel.png") no-repeat;
		background-size: 90px 90px;
		z-index: $coin-zindex-large;
		@media screen and (max-width: $break-large) {
			z-index: $coin-zindex-md;
		}
	}

	.dimes{
		position: absolute;
		top: 0px;
		left: 88px;
		width: 90px;
		height: 90px;
		background: url("/assets/images/dime.png") no-repeat;
		background-size: 90px 90px;
		z-index: $coin-zindex-large;
		@media screen and (max-width: $break-large) {
			z-index: $coin-zindex-md;
		}
	}

	.quarters{
		position: absolute;
		top: 0px;
		left: 88px;
		width: 90px;
		height: 90px;
		background: url("/assets/images/quarter.png") no-repeat;
		background-size: 90px 90px;
		z-index: $coin-zindex-large;
		@media screen and (max-width: $break-large) {
			z-index: $coin-zindex-md;
		}
	}

	.enter {
		left: -100px;
	}

	.enter.enterActive {
		left: 88px;
		transform: rotate(130deg);
		transition: all 800ms linear;
	}

	.leave {
		top: 1px;
		width: 90px;
		height: 90px;
		transform: rotate(131deg);
	/*  z-index: 98;*/
	}

	.leave.leaveActive {
		/*top: calc(100%);*/
		top: calc(100vh - 150px);
		/*overflow: hidden;*/
		left: 117px;
		width: 50px;
		height: 50px;
		background-size: 50px 50px;
		z-index: -4;
		transform: rotate(300deg);
		@media screen and (max-width: $break-large) {
			top: calc(100% - 1px);
			left: 88px;
			width: 90px;
			height: 90px;
			background-size: 90px 90px;
			z-index: $coin-zindex-large;
		}
		transition: all 800ms linear;
	}
}
